.myBody {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin-left: 200px;
}

/* Header, Nav, Section, Aside, and Footer */

.myheader {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;

}

.mynav {
    margin-bottom: 18px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.commonBackground {
    background: #ebebeb;
}

.centerText {
    text-align: center;
}

.myArticle {
    color: #ebebeb;
    background: #777;
    text-align: center;
    overflow: auto;
}

.mySection {
    float: left;
    padding: 10px;
    width: 50%;
}

.myfooter {
    width: 960px;
    height: 75px;
    position : relative;
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
/* h1 and p */
.myText {
    margin-left: 10px;
    margin-right: 10px;
    color: #777;
    background: #ebebeb;
}
.pg {
    height: 75.813px;
}
.inlineBlock {
    display:inline-block;
}
.aside {
    margin-left: 520px;
    padding: 145px;
    height: 68.8px;
}
